<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--加载properties文件-->
    <context:property-placeholder location="classpath:db.properties" />

    <!--2 创建数据源-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" >
        <property name="driverClassName" value="${jdbc.driverClassName}" />
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
    </bean>

    <bean class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--1. 注入数据源-->
        <property name="dataSource" ref="dataSource" />
        <!--2. 加载mybatis核心配置文件-->
        <property name="configLocation" value="classpath:mybatis-config.xml" />
        <!--3. 扫描映射文件-->
        <property name="mapperLocations" value="classpath:mapper/*.xml" />
        <!--4. 配置别名-->
        <property name="typeAliasesPackage" value="com.yf.pojo" />
    </bean>

    <!--自动扫描mapper接口-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer" >
        <!--指定扫描的包-->
        <property name="basePackage" value="com.yf.mapper"/>
    </bean>

</beans>