<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--加载env.properties文件-->
    <context:property-placeholder location="classpath:env.properties" />


    <!--开启注解扫描-->
    <context:component-scan base-package="com.yf.controller,com.yf.util,com.yf.handler" />
    <!--mvc注解驱动-->
    <mvc:annotation-driven />
    <!--视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <!--基于tomcat对静态资源的放行-->
    <!--基于服务器的方式-->
    <mvc:default-servlet-handler />

    <!--基于springmvc对象静态资源的放行-->
    <!--<mvc:resources mapping="/static/**" location="/static/" />-->

    <!--配置文件上传项-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" >
        <!--设置上传文件大小-->
        <!--<property name="maxUploadSize" value="5242880" />-->
    </bean>


    <!--拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <!--拦截哪一些路径-->
            <mvc:mapping path="/**"/>
            <!--对某些路径资源放行-->
            <mvc:exclude-mapping path="/user/**" />
            <mvc:exclude-mapping path="/test/**" />
            <!--放行静态资源-->
            <!--<mvc:exclude-mapping path="/static/**" />-->
            <!--指定拦截器来处理-->
            <bean class="com.yf.interceptor.AuthenticationInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>

    <!--1、简单的异常处理器-->
    <!--<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="defaultErrorView" value="500" />
        <property name="exceptionAttribute" value="ex" />
        <property name="exceptionMappings">
           <props>
               <prop key="java.lang.ArithmeticException">arithmeticView</prop>
           </props>
        </property>
    </bean>-->

<!--2、自定义异常处理器-->
    <bean class="com.yf.handler.SsmExceptionHandler" />
</beans>






